version: '3.7'

services:
  backend:
    build: ./src/backend
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:$BACKEND_PORT"
    volumes:
      - ./src/backend/:/usr/src/backend
    ports:
      - $BACKEND_PORT:$BACKEND_PORT
    env_file:
      - .env
    environment:
      - DEBUG=0
    depends_on:
      - auth
      - postgresql

  auth:
    build: ./src/auth
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:$AUTH_PORT"
    volumes:
      - ./src/auth/:/usr/src/auth
    ports:
      - $AUTH_PORT:$AUTH_PORT
    env_file:
      - .env
    environment:
      - DEBUG=0
    depends_on:
      - postgresql
      - mq
      - notifications

  postgresql:
    image: postgres:11.2-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}

  mq:
    image: rabbitmq:management-alpine
    env_file:
      - .env
    ports:
      - $MQ_PORT:$MQ_PORT
      - $MQ_HTTP_PORT:$MQ_HTTP_PORT

  notifications:
    build: ./src/notifications
    command: sh -c "./notifications"
    ports:
    - $NOTIFICATIONS_PORT:$NOTIFICATIONS_PORT
    env_file:
      - .env
    depends_on:
      - mq

volumes:
  postgres_data: